<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    <title>Home</title>
</head>

<body>
    <div id="app">
        <header class="bg-danger bg-opacity-10">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid ms-4">
                    <a class="navbar-brand" href="./index.html" target="_blank"><img id="logo"
                            src="./assets/logoamazingevents.png" alt="" width="200"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav gap-3">
                            <li class="nav-item btn btn-secondary">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item btn btn-outline-secondary">
                                <a class="nav-link" href="./upcomingevents.html">UpComing Events</a>
                            </li>
                            <li class="nav-item btn btn-outline-secondary">
                                <a class="nav-link" href="./pastevents.html">Past Events</a>
                            </li>
                            <li class="nav-item btn btn-outline-secondary">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <!--<li class="nav-item btn btn-outline-secondary">
                                <a class="nav-link" href="./details.html">Details</a>
                            </li> -->
                            <li class="nav-item btn btn-outline-secondary">
                                <a class="nav-link" href="./stats.html">Stats</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar bg-danger bg-opacity-10 shadow">
                <div class="container-fluid">
                    <a class="page-link" href="#" aria-label="Previous">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                    </svg> -->
                    </a>
                    <span class="navbar-text display-2"> Home</span>
                    <div>
                        <a class="page-link" href="./upcomingevents.html" aria-label="Next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <main>

            <form class="d-xl-flex justify-content-around">

                <div class="input-group-text" v-for="categoria in categorias"> 
                    <input class="form-check-input mt-0" type="checkbox" :value="categoria" v-model="categoriasSeleccionadas" aria-label="Checkbox for following text input" >{{categoria}}
                </div>
                
                <div class="d-flex">
                    <input class="form-control me-2"  type="text" placeholder="Buscar" v-model="nombre" aria-label="Search">{{buscador}}
                    <button class="btn btn-outline-success">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

        
            <div class="row w-10 shadow p-1 mb-1"  v-show = "events.length != 0" v-for="event in events">
                <div class="col d-flex align-items-center ms-3">
                    <div class="d-flex flex-column gap-3">
                        <h3 class="h1">{{event.name}}</h3>
                        <ul class="list-group-item">
                            <li class="list-group-item" ></li>
                            <li class="list-group-item col-8">{{event.description}}</li>
                            <li class="list-group-item">{{event.date}}</li>
                            <li class="list-group-item">{{event.category}}</li>
                        </ul>
                        <div class="col d-flex gap-4">    
                            <button type="button" class="btn btn-success">$ {{event.price}}</button>
                            <button type="button" class="btn btn-success">
                                <a :href="'./details.html?id='+event._id" class="text-decoration-none text-white">Detail</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <img :src="event.image" :alt="event.name" class="img-fluid-lg order-4 shadow p-1 mb-1 bg-body rounded w-100 h-100">
                </div>
            </div>
            <div v-show = "events.length == 0" class="cartel">
                <p class="display-5 text-white bg-danger text-center">¡There are no items to display!</p>
                <img src="./assets/sorry.jpg" class="img-fluid-lg order-4 shadow p-1 mb-1 bg-body rounded w-100 h-100" alt="sonrisa"  alt="no elemnto">
            </div>
           
        </main>

        <footer class="row">
            <div class="col d-flex gap-sm-5">
                <i class="bi bi-whatsapp "></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
            </div>
            <div class=" col d-flex justify-content-end">
             
            </div>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/index.js"></script>
</body>

</html>
