*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
   
}
.card-img{
    object-fit: cover;
}

header{
    padding: 2rem;
    opacity: 10;
}
main{
    min-height: 55vh;
    padding: 2rem; 
}
fieldset{
    padding: 5px;
    font-size: 5px;
}
form{
    margin-bottom: 3rem;
}
footer{
    background-color: red;
    padding: 3rem;
}
article{
    margin-bottom: 1rem;
}

@media (min-width: 320px)  and (max-width: 375px) {
    #logo{
        width: 100px;
    }

}